.image-with-title-card {
    width: 185px;
    height: 315px;
    &__image-wrapper {
        width: 185px;
        height: 265px;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__sad-emoji {
        width: 75px;
        height: 75px;
    }
    &__title {
        font-size: 14px;
        line-height: 18px;
        margin-top: 10px;
        color: $light-text;
        max-height: 40px;
    }
}
