.image-with-title-card {
    width: 185px;
    height: 315px;
    &__image-wrapper {
        width: 185px;
        height: 265px;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__sad-emoji {
        width: 75px;
        height: 75px;
    }
    &__title {
        font-size: 14px;
        line-height: 18px;
        margin-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: break-spaces;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: $light-text;
    }
}

.image-with-title-card {
    .image-wrapper__loader {
        @include loading;
    }
    .title__loader {
        @include loading;
        height: 14px;
        width: 70%;
        border-radius: 5px;
    }
}
