.change-anime-status-modal {
    width: 1000px;
    .change-anime-status {
        &__header {
            position: relative;
            width: 100%;
            height: 180px;
            display: flex;
            justify-content: space-between;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: inset 0 0 250px $dark-background;
            padding-top: 0;
            padding-bottom: 0;
            &:after {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba($dark-background, 0.5);
                z-index: 5;
            }
        }
        &__info {
            position: relative;
            z-index: 10;
            display: flex;
            height: 100%;
            justify-content: flex-start;
            align-items: flex-end;
            color: $white;
        }
        &__image-wrapper {
            width: 100px;
            height: 140px;
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: -30px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__title {
            margin: 10px 20px;
            line-height: 32px;
        }
        &__header-buttons {
            position: relative;
            z-index: 10;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }
        &__body {
            padding-top: 70px;
            width: 100%;
        }
        &__form {
            display: grid;
            grid-gap: 50px;
            grid-template-columns: 230px 230px 230px;
            grid-template-areas:
                "status score progress"
                "start finish repeat";
            justify-content: center;
        }
        &__buttons {
            padding-top: 10px;
            padding-bottom: 40px;
            display: flex;
            justify-content: flex-end;
            .button {
                width: auto;
                margin: 0;
            }
        }
    }
    .status {
        grid-area: status;
    }
    .score {
        grid-area: score;
        .select-inner__single-value {
            text-align: center;
            margin-left: 36px;
        }
        .select-inner__option {
            text-align: center;
        }
    }
    .progress {
        grid-area: progress;
    }
    .button {
        font-size: 13px;
        margin: 10px 0;
        &__inner {
            padding: 10px 15px;
        }
    }
}