.custom-tooltip {
    padding: 6px 10px !important;
    line-height: 14px !important;
    border-radius: 5px !important;
    &.show {
        opacity: 1 !important;
    }
    &.place-left {
        margin-left: -5px !important;
    }
    &.place-right {
        margin-right: -5px !important;
    }
    &.place-top {
        margin-top: -5px !important;
    }
    &.place-bottom {
        margin-bottom: -5px !important;
    }
    &.place-left::after, &.place-left::before {
        display: none;
    }
    &.place-right::after, &.place-right::before {
        display: none;
    }
    &.place-top::after, &.place-top::before {
        display: none;
    }
    &.place-bottom::after, &.place-bottom::before {
        display: none;
    }
    &.type-dark {
        background-color: rgba($dark-background, 0.8);
    }
}
