* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

::selection {
    color: $select-text;
    background: $select-background;
}

@font-face {
    font-family: 'Overpass Italic';
    font-style: italic;
    font-weight: normal;
    src: local('Overpass Italic'), url('static/fonts/Overpass-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: normal;
    src: local('Overpass'), url('static/fonts/Overpass-VariableFont_wght.ttf');
}

body {
    font-family: 'Overpass', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    font-weight: 600;
    color: $main-text;
    background-color: $light-background;
    &::-webkit-scrollbar {
        width: 8px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $scrollbar;
        border-radius: 4px;
        &:hover {
            background-color: $scrollbar-hover;
        }
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote::after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

button,
select {
    font-family: 'Overpass', sans-serif;
    text-transform: none;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input {
    font-family: 'Overpass', sans-serif;
    font-weight: 500;
    color: $main-text;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a,
abbr {
    text-decoration: none;
}

a:active,
a:hover {
    outline: none;
}

ul {
    list-style-type: none;
}
