$white: #ffffff;
$black: #000000;

$main-text: #5c728a;
$main-text-hover: darken($main-text, 20%);

$light-text: #748899;
$light-text-hover: darken($light-text, 20%);

$link: #4b88ca;
$link-hover: #589ce6;

$light-blue-text: #d2e4f5;

$header-link: #bebfdd;
$header-link-hover: #d2d3f0;

$select-text: #4d5f72;
$select-background: #c4d6ea;

$light-background: #edf1f5;
$dark-background: #2b2d42;
$light-blue-background: lighten($dark-background, 70%);

$scrollbar: #cccccc;
$scrollbar-hover: #aaaaaa;

$shadow-blue: #6784bb;

$loader-dark: #cadbe8;
$loader-light: #dde6ef;
