* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  background-color: #edf1f5;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote::after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

button,
select {
  text-transform: none;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  outline: none;
}

ul {
  list-style-type: none;
}

.image-with-title-card {
  width: 185px;
  height: 315px;
}
.image-with-title-card__image-wrapper {
  width: 185px;
  height: 265px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-with-title-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-with-title-card__sad-emoji {
  width: 75px;
  height: 75px;
}
.image-with-title-card__title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 10px;
  color: #748899;
  max-height: 40px;
}

.home-page .popular-block, .home-page .search-block {
  max-width: 1200px;
  margin: 50px auto;
}
.home-page .popular__count, .home-page .search__count {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 22px;
  color: #748899;
}
.home-page .popular__entities, .home-page .search__entities {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}