* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

::selection {
  color: #4d5f72;
  background: #c4d6ea;
}

@font-face {
  font-family: "Overpass Italic";
  font-style: italic;
  font-weight: normal;
  src: local("Overpass Italic"), url("static/fonts/Overpass-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: normal;
  src: local("Overpass"), url("static/fonts/Overpass-VariableFont_wght.ttf");
}
body {
  font-family: "Overpass", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  font-weight: 600;
  color: #5c728a;
  background-color: #edf1f5;
}
body::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote::after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

button,
select {
  text-transform: none;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input {
  font-family: "Overpass", sans-serif;
  font-weight: 500;
  color: #5c728a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  outline: none;
}

ul {
  list-style-type: none;
}

.block-container {
  max-width: 1100px;
  margin: 50px auto;
}

.horizontal-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.input {
  display: flex;
  font-size: 16px;
  line-height: 18px;
}
.input__inner {
  display: flex;
  flex-direction: column;
}
.input__input {
  padding: 10px 15px;
  border-radius: 6px;
  box-shadow: 0 14px 30px rgba(103, 132, 187, 0.1), 0 4px 4px rgba(103, 132, 187, 0.05);
  font-size: 14px;
}

.input-label {
  margin-bottom: 10px;
}

.image-with-title-card {
  width: 185px;
  height: 315px;
}
.image-with-title-card__image-wrapper {
  width: 185px;
  height: 265px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-with-title-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-with-title-card__sad-emoji {
  width: 75px;
  height: 75px;
}
.image-with-title-card__title {
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: break-spaces;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #748899;
}

.items__title {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}
.items-title__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #5c728a;
  transition: color 0.2s ease-in-out;
}
.items-title__label:hover {
  color: #333f4d;
}
.items-title__link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #748899;
  transition: color 0.2s ease-in-out;
}
.items-title__link:hover {
  color: #475560;
}
.items__entities {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 185px);
  justify-content: space-between;
}

.home-page .horizontal-container {
  margin-bottom: 30px;
}
.home-page .items-block {
  margin-bottom: 40px;
}