:export {
  green: #7bd555;
  yellow: #f7bf63;
  orange: #f79a63;
  peach: #fa7a7a;
  red: #e85d75;
  blue: #3db4f2;
  blueDim: #8db2db;
}

@keyframes loading-keyframes {
  0% {
    background-color: #cadbe8;
  }
  100% {
    background-color: #dde6ef;
  }
}
@keyframes appearance-keyframes {
  0% {
    opacity: 0;
    transform: scale(80%, 80%);
  }
  20% {
    opacity: 1;
    transform: scale(100%, 100%);
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

::selection {
  color: #4d5f72;
  background: #c4d6ea;
}

@font-face {
  font-family: "Overpass Italic";
  font-style: italic;
  font-weight: normal;
  src: local("Overpass Italic"), url("static/fonts/Overpass-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: normal;
  src: local("Overpass"), url("static/fonts/Overpass-VariableFont_wght.ttf");
}
body {
  font-family: "Overpass", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  font-weight: 600;
  color: #5c728a;
  background-color: #edf1f5;
}
body::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote::after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

button,
select {
  font-family: "Overpass", sans-serif;
  text-transform: none;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input {
  font-family: "Overpass", sans-serif;
  font-weight: 500;
  color: #5c728a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a,
abbr {
  text-decoration: none;
}

a:active,
a:hover {
  outline: none;
}

ul {
  list-style-type: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 45, 66, 0.5);
}

.modal-container {
  position: relative;
  box-shadow: 0 0 10px 0 rgba(43, 45, 66, 0.15);
  background-color: #ffffff;
  color: #5c728a;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 800px;
  animation-name: appearance-keyframes;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
}
.modal-container::-webkit-scrollbar {
  width: 8px;
}
.modal-container::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 5px;
}
.modal-container::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa;
}
.modal-container__close {
  position: absolute;
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  z-index: 1000;
  transition: color 0.2s ease-in-out;
}
.modal-container__close:hover {
  color: white;
}

.modal-content {
  width: 100%;
  padding: 50px;
}

.block-container {
  max-width: 1100px;
  margin: 50px auto;
}

.custom-tooltip {
  padding: 6px 10px !important;
  line-height: 14px !important;
  border-radius: 5px !important;
}
.custom-tooltip.show {
  opacity: 1 !important;
}
.custom-tooltip.place-left {
  margin-left: -5px !important;
}
.custom-tooltip.place-right {
  margin-right: -5px !important;
}
.custom-tooltip.place-top {
  margin-top: -5px !important;
}
.custom-tooltip.place-bottom {
  margin-bottom: -5px !important;
}
.custom-tooltip.place-left::after, .custom-tooltip.place-left::before {
  display: none;
}
.custom-tooltip.place-right::after, .custom-tooltip.place-right::before {
  display: none;
}
.custom-tooltip.place-top::after, .custom-tooltip.place-top::before {
  display: none;
}
.custom-tooltip.place-bottom::after, .custom-tooltip.place-bottom::before {
  display: none;
}
.custom-tooltip.type-dark {
  background-color: rgba(43, 45, 66, 0.8);
}

.horizontal-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.button {
  width: 100%;
  background-color: #4b88ca;
  border-radius: 5px;
  font-size: 18px;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.button:hover {
  background-color: #589ce6;
}
.button__inner {
  padding: 15px 20px;
  font-size: inherit;
  text-align: center;
  color: #ffffff;
}
.button--disabled {
  opacity: 0.7;
}
.button--danger {
  background-color: #e85d75;
}
.button--danger:hover {
  background-color: #eb7388;
}

.input-label {
  margin-bottom: 10px;
  display: block;
}
.input-label__loader {
  width: 100px;
  height: 16px;
  border-radius: 5px;
  animation-name: loading-keyframes;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.input__loader {
  cursor: default;
  height: 36px;
  border-radius: 5px;
  animation-name: loading-keyframes;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.input {
  display: flex;
  font-size: 16px;
  line-height: 18px;
}
.input__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input__input {
  padding: 10px 15px;
  border-radius: 6px;
  box-shadow: 0 14px 30px rgba(103, 132, 187, 0.1), 0 4px 4px rgba(103, 132, 187, 0.05);
  font-size: 16px;
}
.input--light-blue .input__input {
  height: 36px;
  border-radius: 5px;
  background-color: #edf1f5;
  box-shadow: none;
}

.input-number-inner {
  color: #5c728a;
}
.input-number-inner input {
  width: 100%;
  border: none;
  text-align: center;
  background-color: #edf1f5;
}

.input-number-inner__input {
  position: relative;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  background-color: #edf1f5;
  color: #5c728a;
  text-align: center;
}
.input-number-inner__input input {
  font-size: 16px;
  font-weight: 500;
}
.input-number-inner__input .add,
.input-number-inner__input .subtract {
  position: absolute;
  right: 0;
  width: 25px;
  height: 18px;
  cursor: pointer;
  user-select: none;
  color: #cadbe8;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-number-inner__input .add {
  top: 2px;
  border-radius: 0 5px 0 0;
}
.input-number-inner__input .subtract {
  bottom: 1px;
  border-radius: 0 0 5px 0;
}

.input-date {
  position: relative;
}
.input-date__calendar {
  position: absolute;
  width: 150%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(43, 45, 66, 0.1);
  border-radius: 5px;
  z-index: 10;
}
.input-date__input .input__input {
  text-align: center;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 45px;
  display: flex;
  margin-bottom: 10px;
}
.react-calendar__navigation__label__labelText {
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin-bottom: -2px;
}
.react-calendar__navigation button {
  min-width: 45px;
  background: none;
  color: #5c728a;
  transition: color 0.2s ease-in-out;
}
.react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
  color: #3db4f2;
}
.react-calendar__navigation button[disabled] {
  color: #748899;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  user-select: none;
  border-bottom: 1px solid #edf1f5;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__year-view .react-calendar__tile, .react-calendar__decade-view .react-calendar__tile, .react-calendar__century-view .react-calendar__tile {
  padding: 1.5em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0;
  background: none;
  color: #5c728a;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.2s ease-in-out;
}
.react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus {
  color: #3db4f2;
}
.react-calendar__tile:disabled {
  background-color: #edf1f5;
}
.react-calendar__tile--now {
  color: #3db4f2;
  font-weight: 600;
}
.react-calendar__tile--selected abbr {
  color: #ffffff;
  background-color: #3db4f2;
  border-radius: 50%;
}
.react-calendar__tile abbr {
  width: 25px;
  height: 25px;
  line-height: 27px;
}

.select-block {
  cursor: pointer;
}

.select-inner__control {
  box-shadow: none !important;
  cursor: pointer !important;
  min-height: 36px !important;
  background-color: #edf1f5 !important;
  border: none !important;
  border-radius: 5px !important;
}
.select-inner__indicator-separator {
  display: none;
}
.select-inner__dropdown-indicator {
  color: #cadbe8 !important;
}
.select-inner__dropdown-indicator:hover {
  color: #cadbe8 !important;
}
.select-inner__menu, .select-inner__single-value, .select-inner__placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #748899 !important;
}
.select-inner__menu {
  z-index: 10 !important;
  background-color: #edf1f5 !important;
  box-shadow: none !important;
  animation-name: appearance-keyframes;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
}
.select-inner__option {
  position: relative;
}
.select-inner__option:active, .select-inner__option:hover {
  background-color: #edf1f5 !important;
  cursor: pointer;
}
.select-inner__option:focus {
  background-color: initial !important;
}
.select-inner__option--is-focused {
  background-color: #edf1f5 !important;
}
.select-inner__option--is-selected {
  color: #3db4f2 !important;
  background-color: initial !important;
}
.select-inner__option--is-selected::after {
  height: 14px;
  width: 14px;
  right: 13px;
  position: absolute;
}
.select-inner__indicator {
  padding: 6px 8px !important;
}

.select--light .select-inner__control {
  background-color: #ffffff !important;
  border: 1px solid rgba(92, 114, 138, 0.5) !important;
  border-radius: 4px;
}
.select--light .select-inner__single-value {
  color: #5c728a !important;
  font-size: 16px;
  font-weight: 300;
}
.select--light .select-inner__value-container {
  padding-top: 12px;
  padding-bottom: 12px;
}
.select--light .select-inner__menu {
  background-color: #ffffff !important;
}
.select--light .select-inner__option {
  font-weight: 300;
  color: #5c728a;
}
.select--light .select-inner__option--is-selected {
  color: #5c728a !important;
}
.select--light .select-inner__option--is-focused, .select--light .select-inner__option:hover {
  background-color: #ffffff !important;
}

.table-instances {
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px rgba(92, 114, 138, 0.05);
}

.table-instances-loader {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  animation-name: loading-keyframes;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.table-head {
  height: 60px;
}

.table-title {
  font-size: 25px;
  line-height: 28px;
  margin-bottom: 10px;
}

.table-instance-col {
  font-size: 14px;
  line-height: 16px;
  padding: 20px;
  vertical-align: bottom;
}

.table-instance-col-inner {
  display: flex;
  white-space: nowrap;
}
.table-instance-col-inner__icon {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.table-instances {
  width: 100%;
}

.change-anime-status-modal {
  width: 1000px;
}
.change-anime-status-modal .change-anime-status__header {
  position: relative;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-between;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 250px #2b2d42;
  padding-top: 0;
  padding-bottom: 0;
}
.change-anime-status-modal .change-anime-status__header:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(43, 45, 66, 0.5);
  z-index: 5;
}
.change-anime-status-modal .change-anime-status__info {
  position: relative;
  z-index: 10;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  color: #ffffff;
}
.change-anime-status-modal .change-anime-status__image-wrapper {
  width: 100px;
  height: 140px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: -30px;
}
.change-anime-status-modal .change-anime-status__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.change-anime-status-modal .change-anime-status__title {
  margin: 10px 20px;
  line-height: 32px;
}
.change-anime-status-modal .change-anime-status__header-buttons {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.change-anime-status-modal .change-anime-status__body {
  padding-top: 70px;
  width: 100%;
}
.change-anime-status-modal .change-anime-status__form {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 230px 230px 230px;
  grid-template-areas: "status score progress" "start finish repeat";
  justify-content: center;
}
.change-anime-status-modal .change-anime-status__buttons {
  height: 90px;
  padding-top: 10px;
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.change-anime-status-modal .change-anime-status__buttons .button {
  width: auto;
  margin: 0;
}
.change-anime-status-modal .status {
  grid-area: status;
}
.change-anime-status-modal .score {
  grid-area: score;
}
.change-anime-status-modal .score .select-inner__single-value {
  text-align: center;
  margin-left: 36px;
}
.change-anime-status-modal .score .select-inner__option {
  text-align: center;
}
.change-anime-status-modal .progress {
  grid-area: progress;
}
.change-anime-status-modal .button {
  font-size: 13px;
  margin: 10px 0;
}
.change-anime-status-modal .button__inner {
  padding: 10px 15px;
}

.header {
  background-color: #2b2d42;
}
.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 70px;
}
.header__title {
  font-family: "Roboto", sans-serif;
  font-size: 33px;
  line-height: 40px;
  color: #ffffff;
  user-select: none;
  cursor: pointer;
  margin-bottom: 5px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 30px;
}
.header-nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 25px;
}
.header-nav__link {
  cursor: pointer;
  color: #bebfdd;
  transition: color 0.2s ease-in-out;
}
.header-nav__link:hover {
  color: #d2d3f0;
}

.items__title {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}
.items-title:hover .items-title__label {
  color: #333f4d;
}
.items-title:hover .items-title__link {
  color: #475560;
}
.items-title__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #5c728a;
  transition: color 0.2s ease-in-out;
}
.items-title__link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #748899;
  transition: color 0.2s ease-in-out;
}
.items__entities {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 185px);
  justify-content: space-between;
}

.items-block__entity-loader {
  animation-name: appearance-keyframes;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.image-with-title-card {
  width: 185px;
  height: 315px;
  cursor: pointer;
}
.image-with-title-card:hover .image-with-title-card__title {
  color: #475560;
}
.image-with-title-card__image-wrapper {
  width: 185px;
  height: 265px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-with-title-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-with-title-card__sad-emoji {
  width: 75px;
  height: 75px;
}
.image-with-title-card__title {
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: break-spaces;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #748899;
  transition: color 0.2s ease-in-out;
}
.image-with-title-card__status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 7px;
  display: inline-block;
  position: relative;
  top: 1px;
}

.image-with-title-card .image-wrapper__loader {
  animation-name: loading-keyframes;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.image-with-title-card .title__loader {
  animation-name: loading-keyframes;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  height: 14px;
  width: 70%;
  border-radius: 5px;
}

.image-with-title-card__action.action__set {
  opacity: 0;
  transform: scale(80%, 80%);
  transition: all 0.2s ease-in-out;
}

.image-with-title-card:hover .image-with-title-card__action.action__set {
  opacity: 1;
  transform: scale(100%, 100%);
}

.image-with-title-card .action__additional {
  opacity: 0;
  transform: scale(80%, 80%);
  transition: all 0.2s ease-in-out;
}
.image-with-title-card .image-with-title-card__actions:hover .action__additional {
  opacity: 1;
  transform: scale(100%, 100%);
}
.image-with-title-card__image-wrapper {
  position: relative;
}
.image-with-title-card__actions {
  position: absolute;
  right: 14px;
  bottom: 14px;
  display: flex;
  flex-direction: column-reverse;
}
.image-with-title-card__action {
  width: 28px;
  height: 28px;
  background-color: rgba(43, 45, 66, 0.9);
  border-radius: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #ffffff;
}
.image-with-title-card__additional-actions {
  display: flex;
  flex-direction: column-reverse;
}
.image-with-title-card .fa-check, .image-with-title-card .fa-plus {
  font-size: 15px;
}
.image-with-title-card .action-tooltip {
  font-size: 11px;
}

.anime-table .table-instance-row {
  position: relative;
  transition: all 0.2s ease-in-out;
}
.anime-table .table-instance-row:hover {
  background-color: rgba(61, 180, 242, 0.2);
}
.anime-table .table-instance-row:hover .anime-edit-icon {
  opacity: 1;
  display: block;
}
.anime-table .table-instance-row:hover .anime-image-preview {
  display: block;
}
.anime-table .table-instance-row:hover .anime-image-wrapper {
  background-color: #3db4f2;
}
.anime-table .table-instance-row:hover .anime-image-wrapper img {
  opacity: 0;
}
.anime-table .anime-edit-icon {
  position: absolute;
  top: 11px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: opacity 0.2s ease-in-out;
  font-size: 18px;
  color: #ffffff;
}
.anime-table .anime-image-preview {
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translate(-100%, -50%);
  width: 140px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  display: none;
  background-color: #5c728a;
}
.anime-table .anime-image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.anime-table .table-instance-col--anime-image {
  width: 60px;
  padding: 10px;
}
.anime-table .table-instance-col--anime-image .table-instance-col__cell {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
}
.anime-table .table-instance-col--anime-image .anime-image-wrapper {
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.anime-table .table-instance-col--anime-image .anime-image-wrapper img {
  width: 100%;
  height: 100%;
  object-position: 50% -8px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.anime-table .table-instance-col--anime-title {
  padding-left: 5px;
}
.anime-table .table-instance-col--anime-repeat {
  width: 150px;
  text-align: center;
}
.anime-table .table-instance-col--anime-score {
  width: 100px;
  text-align: center;
}
.anime-table .table-instance-col--anime-progress {
  width: 150px;
  text-align: center;
}
.anime-table .table-instance-col--anime-type {
  width: 100px;
  text-align: center;
}

.home-page .horizontal-container {
  margin-bottom: 30px;
}
.home-page .items-block {
  margin-bottom: 40px;
}

.anime-page__title {
  font-size: 30px;
  margin-bottom: 50px;
}

.login-page, .signup-page, .login-callback-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e5ee;
}

.login-callback-page__title {
  font-size: 30px;
}

.login-form, .signup-form {
  width: 400px;
  padding: 40px 60px;
  background-color: #edf1f5;
  border-radius: 15px;
}
.login-form__title, .signup-form__title {
  font-size: 25px;
  line-height: 28px;
  margin-bottom: 30px;
  text-align: center;
}
.login-form .input, .signup-form .input {
  margin-bottom: 20px;
}
.login-form .button, .signup-form .button {
  margin-top: 40px;
}

.profile-layout .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(43, 45, 66, 0.7);
}

.profile-page .profile__user-info {
  width: 100%;
  height: 350px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.profile-page .profile__user-info .block-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.profile-page .profile__info-block {
  display: flex;
  align-items: flex-end;
}
.profile-page .profile__avatar-wrapper {
  width: 160px;
  height: 160px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
}
.profile-page .profile__avatar-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-page .profile__user-name {
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  margin: 20px 30px;
}
.profile-page .profile__header-buttons {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.profile-page .profile__header-buttons .button {
  font-size: 14px;
  margin-bottom: 20px;
}
.profile-page .profile__header-buttons .button__inner {
  padding: 10px 15px;
}
.profile-page__page-title {
  font-size: 40px;
  text-align: right;
  margin: 30px 0;
}
.profile-page .anime-table {
  margin-bottom: 50px;
}
.profile-page .table-title span {
  font-size: 20px;
  margin-left: 5px;
  color: #748899;
}