.home-page {
    .popular {
        &-block {
            max-width: 1200px;
            margin: 50px auto;
        }
        &__count {
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 22px;
            color: $light-text;
        }
        &__entities {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 40px;
        }
    }
}